.dashboardScreen05 {
  		width: 55%;
  	position: absolute;
  	box-shadow: 0px 0px 18.3px rgba(116, 116, 116, 0.06);
  	border-radius: 12px;
  	background-color: #fdfdfd;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 24px;
  	box-sizing: border-box;
  	gap: 24px;
  	text-align: left;
  	font-size: 20px;
  	color: #000;
  	font-family: Inter;
    top: 25%;
    left: 25%;
    z-index: 2;
    
}
.text {
  	align-self: stretch;
  	border-radius: 8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.title {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.04em;
  	line-height: 20px;
  	font-weight: 600;
}
.formContainer {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	justify-content: flex-end;
  	gap: 24px;
  	font-size: 13px;
  	color: #121212;
}
.formRow {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
}
.inputField {
  	flex: 1;
  	height: 76px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 8px;
}
.label {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.04em;
  	line-height: 18px;
}
.dashboardScreen05InputField {
  	align-self: stretch;
  	border-radius: 10px;
  	background-color: #f7f7f7;
  	height: 50px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 16px 12px;
  	box-sizing: border-box;
  	color: #a3a3a3;
}
.enterTitle {
  	position: relative;
  	letter-spacing: -0.04em;
  	line-height: 18px;
}
.inputField3 {
  	align-self: stretch;
  	border-radius: 10px;
  	background-color: #f7f7f7;
  	height: 50px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 16px 12px;
  	box-sizing: border-box;
  	color: #3d3d3d;
}
.frameParent {
  	width: 211.5px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 8px;
}
.indiaInParent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 4px;
}
.indiaInIcon {
  	width: 24px;
  	position: relative;
  	border-radius: 61px;
  	max-height: 100%;
}
.phone {
  	position: relative;
  	letter-spacing: -0.04em;
  	line-height: 18px;
  	color: #a3a3a3;
}
.dashboardScreen05FormRow {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.inputField4 {
  	width: 379px;
  	height: 76px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 8px;
}
.inputField7 {
  	align-self: stretch;
  	border-radius: 10px;
  	background-color: #f7f7f7;
  	height: 50px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	padding: 16px 12px;
  	box-sizing: border-box;
  	gap: 0px;
  	color: #a3a3a3;
}
.caretdownIcon {
  	width: 16px;
  	position: relative;
  	max-height: 100%;
}
.buttonContainer {
  	width: 354px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 8px;
  	font-size: 14px;
  	color: #0a165c;
}
.buttonTextWrapper {
  	flex: 1;
  	border-radius: 8px;
  	background-color: #ebebf0;
  	height: 40px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px 16px;
  	box-sizing: border-box;
}
.buttonText {
  	position: relative;
  	letter-spacing: -0.04em;
  	line-height: 18px;
  	font-weight: 600;
}
.buttonTextContainer {
  	flex: 1;
  	border-radius: 8px;
  	background-color: #0a165c;
  	height: 40px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px 16px;
  	box-sizing: border-box;
  	color: #fff;
}

